<launch>
  <!-- Component launch used once by full_competition.launch. gazebo_nav owns
       the fixed GlobalPlanner + TebLocalPlannerROS selection and parameters. -->
  <arg name="start_gazebo" default="true"/>
  <arg name="gazebo_gui" default="true"/>
  <arg name="start_rviz" default="true"/>
  <arg name="use_nvidia_gpu" default="true"/>
  <arg name="rviz_config"
       default="$(find gazebo_nav)/config/rviz_default_config.rviz"/>
  <arg name="map_file"
       default="$(find gazebo_map)/maps/math_newest.yaml"/>

  <include file="$(find gazebo_nav)/launch/gazebo_nav.launch">
    <arg name="start_gazebo" value="$(arg start_gazebo)"/>
    <arg name="gazebo_gui" value="$(arg gazebo_gui)"/>
    <arg name="start_rviz" value="$(arg start_rviz)"/>
    <arg name="use_nvidia_gpu" value="$(arg use_nvidia_gpu)"/>
    <arg name="rviz_config" value="$(arg rviz_config)"/>
    <arg name="map_file" value="$(arg map_file)"/>
  </include>
</launch>
