<launch>
  <!-- Component launch: navigation, simulation and perception are supplied by bringup. -->
  <arg name="action_name" default="/sim_task/execute"/>
  <arg name="navigation_action_name"
       default="/smart_factory/navigation"/>
  <arg name="navigation_server_wait_timeout" default="10.0"/>
  <arg name="mission_config"
       default="$(find smart_factory_mission)/config/mission.yaml"/>
  <arg name="goal_config"
       default="$(find smart_factory_mission)/config/pickup_staging_dev.yaml"/>

  <node name="smart_factory_mission"
        pkg="smart_factory_mission"
        type="mission_node.py"
        output="screen"
        required="true">
    <rosparam command="load" file="$(arg mission_config)"/>
    <rosparam command="load" file="$(arg goal_config)"/>
    <param name="action_name" value="$(arg action_name)"/>
    <param name="navigation_action_name"
           value="$(arg navigation_action_name)"/>
    <param name="navigation_server_wait_timeout"
           value="$(arg navigation_server_wait_timeout)"/>
  </node>
</launch>
