<launch>
  <!-- Standalone by default: RobotModel needs robot_description, joint states and TF
       from the Gazebo/car3 launch. Set start_gazebo:=false only when that launch is
       already running in another terminal. -->
  <arg name="start_gazebo" default="true"/>
  <arg name="gazebo_gui" default="true"/>
  <arg name="start_rviz" default="true"/>
  <arg name="rviz_config" default="$(find gazebo_nav)/config/rviz_default_config.rviz"/>
  <arg name="map_file" default="$(find gazebo_map)/maps/math_newest.yaml"/>

  <!-- WSLg: force Mesa D3D12 acceleration for Gazebo and RViz. -->
  <env name="GALLIUM_DRIVER" value="d3d12"/>
  <env name="MESA_D3D12_DEFAULT_ADAPTER_NAME" value="NVIDIA"/>
  <env name="LIBGL_ALWAYS_SOFTWARE" value="0"/>

  <include if="$(arg start_gazebo)" file="$(find car3)/launch/gazebo.launch">
    <arg name="gui" value="$(arg gazebo_gui)"/>
  </include>

  <node name="map_server"
      pkg="map_server"
      type="map_server"
      args="$(arg map_file)"/>


  <!-- Clear stale footprint/radius keys when move_base is restarted without
       restarting roscore; otherwise removed YAML keys remain on the server. -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base"
        output="screen" clear_params="true">
    <!-- The same planner pair is used by the standalone simulation and by
         smart_factory_bringup/full_competition.launch. -->
    <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
    <param name="base_local_planner" value="smart_factory_adaptive_teb/AdaptiveTebLocalPlannerROS"/>

    <rosparam file="$(find gazebo_nav)/launch/config/move_base/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find gazebo_nav)/launch/config/move_base/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find gazebo_nav)/launch/config/move_base/global_planner_params.yaml" command="load" />
    <rosparam file="$(find gazebo_nav)/launch/config/move_base/teb_local_planner_params.yaml" command="load" />
    <rosparam file="$(find gazebo_nav)/launch/config/move_base/adaptive_teb_params.yaml" command="load" />
    <rosparam file="$(find gazebo_nav)/launch/config/move_base/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find gazebo_nav)/launch/config/move_base/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find gazebo_nav)/launch/config/move_base/move_base_params.yaml" command="load" />
  </node>

  <include file="$(find gazebo_nav)/launch/config/amcl/amcl_omni.launch" > </include>

  <node if="$(arg start_rviz)"
        name="rviz"
        pkg="rviz"
        type="rviz"
        required="false"
        args="--disable-anti-aliasing -d $(arg rviz_config)">
    <!-- The post-EOL modal is exposed by WSLg as a separate remote window and
         can make the RViz taskbar entry appear impossible to restore. -->
    <env name="DISABLE_ROS1_EOL_WARNINGS" value="1"/>
  </node>
  
  
</launch>
